<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - HOP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>

    {% include 'homeNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="admin_name">Admin Name:</label>
                <input type="text" id="admin_name" name="admin_name" required>
                <br>
                <label for="admin_password">Admin Password:</label>
                <input type="password" id="admin_password" name="admin_password" required>
                <br>
                <label for="hospital_code">Hospital Code:</label>
                <input type="text" id="hospital_code" name="hospital_code" required>
                <br>
                <button class="button">Login</button>
                {% if error %}
                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
    
</body>

</html>