<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOP - Send Availability</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    
    {% include 'doctorNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="tomorrows_timings">Select Your Available Timings:</label>
                <br>
                <label for="early_slots">Early Slots:</label>
                <input type="checkbox" name="available_timings" id="available_timings" value="12AM-02AM" style="margin-top: 10px; margin-left: 5px;">12-2AM
                <input type="checkbox" name="available_timings" id="available_timings" value="02AM-04AM">2-4AM
                <input type="checkbox" name="available_timings" id="available_timings" value="04AM-06AM">4-6AM
                <input type="checkbox" name="available_timings" id="available_timings" value="06AM-08AM">6-8AM
                <input type="checkbox" name="available_timings" id="available_timings" value="08AM-10AM">8-10AM
                <input type="checkbox" name="available_timings" id="available_timings" value="10AM-12PM">10AM-12PM
                <br>
                <label for="late_slots">Late Slots:</label>
                <input type="checkbox" name="available_timings" id="available_timings" value="12PM-02PM" style="margin-left: 5px;">12-2PM
                <input type="checkbox" name="available_timings" id="available_timings" value="02PM-04PM">2-4PM
                <input type="checkbox" name="available_timings" id="available_timings" value="04PM-06PM">4-6PM
                <input type="checkbox" name="available_timings" id="available_timings" value="06PM-08PM">6-8PM
                <input type="checkbox" name="available_timings" id="available_timings" value="08PM-10PM">8-10PM
                <input type="checkbox" name="available_timings" id="available_timings" value="10PM-12AM">10PM-12AM
                <br>
                <button type="submit" class="button">Send Availability</button>
                {% if error %}
                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                {% endif %}
                {% if success_message %}
                <p style="color: rgb(52, 183, 23); margin-top: 10px;">{{ success_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
    
</body>

</html>