<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    
    <div class="navbar">
        <div class="icon">
            <a href="{{url_for('doctor_home')}}"><i class='bx bx-shield-plus'></i></a>
        </div>
        <div class="options">
            <ul>
                <a href="{{url_for('send_availability')}}" class="{% if request.path == url_for('send_availability') %} active {% endif %}"><li>Manage Availability</li></a>
                <a href="{{url_for('view_upcoming_appointments_doctor')}}" class="{% if request.path == url_for('view_upcoming_appointments_doctor') %} active {% endif %}"><li>View Upcoming Appointments</li></a>
                <a href="{{url_for('issue_prescriptions')}}" class="{% if request.path == url_for('issue_prescriptions') %} active {% endif %}"><li>Issue Prescriptions</li></a>
                <a href="{{url_for('add_patient_records')}}" class="{% if request.path == url_for('add_patient_records') %} active {% endif %}"><li>Add Patients' Records</li></a>
                <a href="{{url_for('view_patient_records')}}" class="{% if request.path == url_for('view_patient_records') %} active {% endif %}"><li>View Patients' Records</li></a>
                <a href="{{url_for('logout')}}" class="{% if request.path == url_for('logout') %} active {% endif %}"><li>Logout</li></a>
            </ul>
        </div>
    </div>

</body>

</html>