<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOP - Send Availability</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    
    <div class="navbar">
        <div class="icon">
            <a href="{{url_for('home')}}"><i class='bx bx-shield-plus'></i></a>
        </div>
        <div class="options">
            <ul>
                <a href="{{url_for('send_availability')}}"><li>Manage Availability</li></a>
                <a href="{{url_for('view_upcoming_appointments_doctor')}}"><li>View Upcoming Appointments</li></a>
                <a href="{{url_for('add_patient_records')}}"><li>Add Patients' Records</li></a>
                <a href="{{url_for('view_patient_records')}}"><li>View Patients' Records</li></a>
                <a href="{{url_for('logout')}}"><li>Logout</li></a>
            </ul>
        </div>
    </div>

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="tomorrows_timings">Select Your Available Timings:</label>
                <br>
                <label for="early_slots">Early Slots:</label>
                <input type="checkbox" name="available_timings" id="available_timings" value="12-2AM" style="margin-top: 10px; margin-left: 5px;">12-2AM
                <input type="checkbox" name="available_timings" id="available_timings" value="2-4AM">2-4AM
                <input type="checkbox" name="available_timings" id="available_timings" value="4-6AM">4-6AM
                <input type="checkbox" name="available_timings" id="available_timings" value="6-8AM">6-8AM
                <input type="checkbox" name="available_timings" id="available_timings" value="8-10AM">8-10AM
                <input type="checkbox" name="available_timings" id="available_timings" value="10AM-12PM">10AM-12PM
                <br>
                <label for="late_slots">Late Slots:</label>
                <input type="checkbox" name="available_timings" id="available_timings" value="12-2PM" style="margin-left: 5px;">12-2PM
                <input type="checkbox" name="available_timings" id="available_timings" value="2-4PM">2-4PM
                <input type="checkbox" name="available_timings" id="available_timings" value="4-6PM">4-6PM
                <input type="checkbox" name="available_timings" id="available_timings" value="6-8PM">6-8PM
                <input type="checkbox" name="available_timings" id="available_timings" value="8-10PM">8-10PM
                <input type="checkbox" name="available_timings" id="available_timings" value="10PM-12AM">10PM-12AM
                <br>
                <button type="submit" class="button">Send Availability</button>
                {% if error %}
                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                {% endif %}
                {% if success_message %}
                <p style="color: rgb(52, 183, 23); margin-top: 10px;">{{ success_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Email Us: bossmode2566@gmail.com</li>
            <li>Phone Number: (Provided Upon Request)</li>
        </ul>
    </div>
    
</body>

</html>