<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOP - Register Doctor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    
    {% include 'homeNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="experience">Years of Experience:</label>
                <input type="number" id="authentication" name="authentication" required>
                <br>
                <label for="name">Name:</label>
                <input type="text" id="account_name" name="account_name" required>
                <br>
                <label for="doctor_specialization">Specialization:</label>
                <input type="radio" id="specialization" name="specialization" value="pediatrics">Pediatrics
                <input type="radio" id="specialization" name="specialization" value="dermatology">Dermatology
                <input type="radio" id="specialization" name="specialization" value="surgery">Surgery
                <input type="radio" id="specialization" name="specialization" value="neurology">Neurology
                <input type="radio" id="specialization" name="specialization" value="radiology">Radiology
                <br>
                <label for="other_specialization">Other:</label>
                <input type="text" id="specialization" name="specialization">
                <br>
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
                <br>
                <label for="gender">Gender:</label>
                <input type="radio" id="gender" name="gender" value="male" required>Male
                <input type="radio" id="gender" name="gender" value="female" required>Female
                <br>
                <label for="phone_number">Phone Number:</label>
                <input type="number" id="phone_number" name="phone_number" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit" class="button">Register</button>
                {% if error %}
                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>