<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    
    <div class="footer_container">
        <div class="footer">
            <ul>
                <li>
                    <a href="mailto:bossmode2566@gmail.com" class="email">
                        <i class='bx bx-envelope' alt="Email icon"></i>
                        bossmode2566@gmail.com
                    </a>
                </li>
                <li>
                    <a href="#" class="phone-number">
                        <i class='bx bx-phone' alt="Phone icon"></i>
                        Provided Upon Request
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>