<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    
    <div class="navbar">
        <div class="icon">
            <a href="{{url_for('home')}}">
                <i class='bx bx-shield-plus'></i>
                <h2>Hospital of Prosperity</h2>
            </a>
            <!-- <h2>Hospital of Prosperity</h2> -->
        </div>
        <div class="options">
            <ul>
                <a href="{{url_for('register_patient')}}" class="{% if request.path == url_for('register_patient') %} active {% endif %}"><li>Register Patient</li></a>
                <a href="{{url_for('patient_login')}}" class="{% if request.path == url_for('patient_login') %} active {% endif %}"><li>Patient Login</li></a>
                <a href="{{url_for('register_doctor')}}" class="{% if request.path == url_for('register_doctor') %} active {% endif %}"><li>Register Doctor</li></a>
                <a href="{{url_for('doctor_login')}}" class="{% if request.path == url_for('doctor_login') %} active {% endif %}"><li>Doctor Login</li></a>
                <a href="{{url_for('admin_login')}}" class="{% if request.path == url_for('admin_login') %} active {% endif %}"><li>Admin Login</li></a>
            </ul>
        </div>
    </div>

</body>

</html>