<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOP - Register Patient</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>

    {% include 'homeNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="account_name">Name:</label>
                <input type="text" id="account_name" name="account_name" required>
                <br>
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
                <br>
                <label for="gender">Gender:</label>
                <input type="radio" id="gender" name="gender" value="male" required>Male
                <input type="radio" id="gender" name="gender" value="female" required>Female
                <br>
                <label for="phone_number">Phone Number:</label>
                <input type="number" id="phone_number" name="phone_number" required>
                <br>
                <label for="medical_history">Medical History:</label>
                <input type="radio" id="medical_history" name="medical_history" value="yes" required>Yes
                <input type="radio" id="medical_history" name="medical_history" value="no" required>No
                <br>
                <label for="patient_height">Height(cm): </label>
                <input type="number" id="height" name="height" required>
                <br>
                <label for="patient_weight">Weight(lbs): </label>
                <input type="number" id="weight" name="weight" required>
                <br>
                <label for="initial_deposit">Initial Deposit:</label>
                <input type="number" id="balance" name="balance" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit" class="button">Register</button>
                {% if error %}
                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'footer.html' %}

</body>
</html>