<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOP - Process Payments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>

    {% include 'patientNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method="POST">
                <label for="payment_id">Payment ID:</label>
                <input type="text" id="payment_id" name="payment_id" required>
                <br>
                <button type="submit" class="button">Start Payment</button>
            </form>
        </div>
        {% if error %}
        <p style="color: red; margin-top: 10px;">{{ error }}</p>
        {% endif %}
        {% if success_message %}
        <p style="color: rgb(52, 183, 23); margin-top: 10px;">{{ success_message }}</p>
        {% endif %}
    </div>


    {% if valid_paymend_id %}
        <div style="display: flex; margin-top: 20px; justify-content: center; gap: 200px; align-items: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <div>
                <h2 style="color: red; text-decoration: underline;">Hospital of Prosperity</h2>
            </div>
            <div>
                <h4>{{ hospital_address }}</h4>
            </div>
        </div>

        {% for pending_payment in pending_payments %}
            {% if payment_id == pending_payment['payment_id'] %}
                
                <div style="margin-top: 40px; align-items: center; justify-content: center; display: flex; flex-direction: column; gap: 20px;">
                    
                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        <div>
                            Payment Date: {{ today_date }}
                        </div>
                        <div>
                            Payment ID: {{ pending_payment['payment_id'] }}
                        </div>
                        <div>
                            Patient Name: {{ pending_payment['patient_to_pay'] }}
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        <div>
                            Payment For: {{ pending_payment['payment_type'] }} #{{ pending_payment['appointment_or_prescription_id'] }}
                        </div>
                        <div>
                            Payment Amount: ${{ pending_payment['amount_due'] }}
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        {% for patient in patient_accounts %}
                        {% if patient['account_name'] == pending_payment['patient_to_pay'] %}
                            <div>
                                Patient Phone Number: ({{ patient['phone_number'][0:3] }}) {{ patient['phone_number'][3:6] }}-{{ patient['phone_number'][6:10] }}
                            </div>
                            <div>
                                Patient's Doctor: {{ patient['assigned_doctor'] }}
                            </div>
                            {% if patient['assigned_doctor'] != 'N/A' %}
                                {% for doctor in doctor_accounts %}
                                {% if doctor['account_name'] == patient['assigned_doctor'] %}
                                <div>
                                    Doctor Phone Number: ({{ doctor['phone_number'][0:3] }}) {{ doctor['phone_number'][3:6] }}-{{ doctor['phone_number'][6:10] }}
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                            <div>
                                Doctor Phone Number: N/A
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>

            {% endif %}
        {% endfor %}
        <form method='POST' style="display: inline;">
            <input type="hidden" name="payment_confirmed" value="payment_confirmed">
            <button type="submit" class="button" style="margin-top: 0px;">Confirm Payment</button>
        </form>
        {% if error %}
        <p style="color: red; margin-top: 10px;">{{ error }}</p>
        {% endif %}
        {% if success_message %}
        <p style="color: rgb(52, 183, 23); margin-top: 10px;">{{ success_message }}</p>
        {% endif %}
    {% endif %}

    {% include 'footer.html' %}
    
</body>

</html>
