<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recieve a Prescription - HOP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>

    {% include 'patientNavbar.html' %}

    <div class="form_container">
        <div class="form">
            <form method='POST'>
                <label for="prescription_id">Prescription ID:</label>
                <input type="text" id="prescription_to_recieve_id" name="prescription_to_recieve_id" required>
                <br>
                <button class="button">Recieve Prescription</button>
            </form>
        </div>
        {% if error %}
        <p style="color: red; margin-top: 10px;">{{ error }}</p>
        {% endif %}
        {% if success_message %}
        <p style="color: rgb(52, 183, 23); margin-top: 10px;">{{ success_message }}</p>
        {% endif %}
    </div>


    {% if prescription_ready %}
        <div style="display: flex; margin-top: 20px; justify-content: center; gap: 200px; align-items: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <div>
                <h2 style="color: red; text-decoration: underline;">Hospital of Prosperity</h2>
            </div>
            <div>
                <h4>{{ hospital_address }}</h4>
            </div>
        </div>

        {% for prescription in prescriptions %}
            {% if prescription['prescription_id'] == prescription_to_recieve_id and prescription['recieving_patient'] == patient_logged_in: %}
                
                <div style="margin-top: 40px; align-items: center; justify-content: center; display: flex; flex-direction: column; gap: 20px;">
                    
                    <div style="display: flex; justify-content: center; align-items: center;">
                        Issued By: {{ prescription['issued_by_doctor'] }}
                        {% for doctor in doctor_accounts %}
                        {% if doctor['account_name'] == prescription['issued_by_doctor'] %}
                        (specializes in {{ doctor['specialization'].capitalize() }})
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        <div>
                            Patient: {{ prescription['recieving_patient'] }}
                        </div>
                        {% for patient in patient_accounts %}
                        {% if patient['account_name'] == prescription['recieving_patient'] %}
                        <div>
                            Age: {{ patient['age'] }}
                        </div>
                        <div>
                            Gender: {{ patient['gender'].capitalize() }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div>
                            Issued: {{ prescription['prescription_issued_date'] }}
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        <div>
                            Patient's Blood Pressure: {{ prescription['patient_blood_pressure'] }}mmHg
                        </div>
                        <div>
                            Pulse Rate: {{ prescription['patient_pulse_rate'] }}bpm
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
                        <div>
                            Medicine: {{ prescription['drug_to_prescribe'] }}
                        </div>
                        <div>
                            Instructions: {{ prescription['drug_usage_description'] }}
                        </div>
                    </div>

                </div>

            {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'footer.html' %}

</body>

</html>

